.button {
  width: 280px;
  height: 50px;

  background: $accentColor;
  @include text(18px, $dark, 600, 50px);
  text-align: center;
  @include ellipsis;
  border-radius: 8px;
  border: none;
  filter: $btnShadow;
  cursor: pointer;
  transition: 0.2s all;

  &_is-small {
    width: 200px;
    height: 40px;
    @include text(14px, $dark, 600, 40px);
  }

  &:hover,
  &:active {
    background-color: $baseColor1;
    color: $accentColor;
  }

  &:disabled,
  &.disabled {
    background-color: $disabled;
    color: $light;
    pointer-events: none;
  }
}
