.profile-form {
  width: 100%;
  max-width: 600px;
  margin: 60px 64px 60px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-top: 20px;

    @include text(15px, $dark, 600);
  }

  &__inputs {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 10px 40px;
    justify-content: center;
  }

  &__buttons {
    margin-top: 40px;
    display: grid;
    gap: 20px;
  }

  .is-save-data,
  .is-cancel {
    display: none;
  }

  &.is-edit-mode-true {
    .avatar,
    .is-change-data,
    .is-logout,
    .is-change-pass {
      display: none;
    }

    .is-save-data,
    .is-cancel {
      display: block;
    }
  }
}
