$dark: #0d0d0d;
$yellow: #ffee55;
$gray: rgba(13, 13, 13, 0.7);
$lightGray: rgba(82, 82, 82, 0.5);
$white: #fff;
$red: #ff0000;
$chatColor: #efefef;
$chatColorDark: #999999;

$filterYellow: invert(74%) sepia(100%) saturate(287%) hue-rotate(358deg)
  brightness(106%) contrast(102%);

$breakpoints: (
  bp540: 540px,
  bp768: 768px,
  bp1024: 1024px,
  bp1280: 1280px,
  bp1920: 1920px,
);
