.form-input {
  display: block;
  height: 40px;
  width: 280px;
  padding: 0 15px;
  text-align: center;
  border: 1px solid $dark;
  border-radius: 40px;
  @include text(16px, $baseColor1, 400, 40px);

  &:focus {
    outline: none;
    border: 1px solid $accentColor;
    &::placeholder {
      opacity: 0;
    }
  }

  &:disabled {
    background: $disabled;
    border: 1px solid $disabled;
    pointer-events: none;
    &::placeholder {
      color: $light;
    }

    & + .form-input__error {
      display: none;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    @include text(10px, $errorColor, 400, 15px);
    padding: 0 10px;
    display: block;
    &_hidden {
      display: none;
    }
  }

  &__label {
    display: block;
    padding: 2px 15px;
    @include text(12px, $dark, 400, 16px);
  }
}
