.form-input {
  display: block;
  height: 40px;
  width: 280px;
  padding: 0 15px;
  text-align: center;
  border: 1px solid $dark;
  border-radius: 40px;
  @include text(16px, $gray, 400, 40px);

  &:focus {
    outline: none;
    border: 1px solid $yellow;
    &::placeholder {
      opacity: 0;
    }
  }

  &:disabled {
    background: $lightGray;
    border: 1px solid $lightGray;
    pointer-events: none;
    &::placeholder {
      color: $white;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    @include text(10px, $red, 400, 15px);
    padding: 0 10px;
    &_hide {
      display: none;
    }
    &_show {
      display: block;
    }
  }

  &__label {
    display: block;
    padding: 2px 15px;
    @include text(12px, $dark, 400, 16px);
  }
}
