<nav class='chat-nav {{hasModal}}'>
  {{{newChatModal}}}
  <div class='chat-nav__top'>
    {{{newChatBtn}}}
    {{{link}}}
  </div>
  <div class='chat-nav__input-wrap'>
    <input id='input_search' type='search' class='chat-nav__input' />
    <label class='chat-nav__label' for='input_search'>Search</label>
  </div>
</nav>