<form class='form'>
  <h1 class='form-title'>{{title}}</h1>
  <div class='form__inputs'>
    {{#each fields}}
      {{{this}}}
    {{/each}}
  </div>
  <div class='form__buttons'>
    {{{button}}}
    {{{link}}}
  </div>
</form>