.link {
  display: block;
  @include text(14px, $dark, 500, 24px);
  text-align: center;
  transition: 0.2s color;

  &:hover {
    cursor: pointer;
    color: $baseColor1;
  }

  &_is-white {
    color: $light;
    &:hover {
      opacity: 0.8;
      color: $light;
    }
  }
}
