.link-back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 64px;
  background: $dark;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $yellow;
    background-image: url(../../static/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    transform: translate(-50%, -50%);
  }
}
